body{
    background-color: #212121;
    font-family: arial;
    color: lightgrey;
}

div#header {
    background-color: #333333;
    padding: 20px;
    margin-bottom: 80px;
    margin-left: auto;
    border-radius: 20px;
}

div#content0 {
    background-color: #333333;
    padding: 50px;
    border-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 10%;
    margin-left: 10%;
}
div#content1 {
    background-color: #333333;
    padding: 50px;
    border-radius: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 10%;
    margin-left: 10%;
}

div#footer {
    color: white;
    text-align: center;
    font-size: 10pt;
    margin-top: 80px;
}

.menue{
    width: 80.6%;
    margin-left: 9.7%;
    border-spacing: 5px;
}

.menueTd{
    background-color: #333333;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    color: purple;
    display: inline;
}

h3{
    display: inline;
}

.HeaderTdRight{
    text-align: right;
}

table{
    width: 100%;
}

td{
    width: 33%;
}

ul{
    list-style-position: inside;
}

.NormalLink:hover{
    color: darkgray;
}

.NormalLink:visited{
    color: purple;
}

.NormalLink{
    text-decoration: underline;
}