body{
    background-color: #212121;
    font-family: arial;
    font-size: 15pt;
    color: lightgrey;
    line-height: 140%;
}

div#header {
    background-color: #333333;
    padding: 20px;
    margin-bottom: 80px;
    margin-left: auto;
    border-radius: 20px;
}

div#content {
    background-color: #333333;
    padding: 50px;
    border-radius: 20px;
    margin-right: 10%;
    margin-left: 10%;
}

div#footer {
    color: white;
    text-align: center;
    font-size: 10pt;
    margin-top: 80px;
    line-height: normal;
}

h1{
    display:inline;
    color: #ed1c24;
}

h3{
    display:inline;
}

a {
    text-decoration: none;
}

a:visited{
    color: #ed1c24;
}

a:hover{
    opacity: 0.8;
}

.NormalLink:hover{
    color: darkgray;
}

.NormalLink:visited{
    color: purple;
}

.NormalLink{
    text-decoration: underline;
    color: #ed1c24;
}

.HeaderTdRight{
    text-align: right;
}
table{
    width: 100%;
}

td{
    width: 33%;
}

ul{
    list-style-position: inside;
}

:root{
    scroll-behavior: smooth;
}

.stt {
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #ed1c24 url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='currentColor' d='M352 352c-8.188 0-16.38-3.125-22.62-9.375L192 205.3l-137.4 137.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25C368.4 348.9 360.2 352 352 352z'%3E%3C/path%3E%3C/svg%3E") center no-repeat;
}

.stt:hover {
    opacity: 0.8;
}

.floatRight{
    float: right;
    margin-left: 20px;
    margin-bottom: 5px;
}